<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mia Resort</title>

    <link rel="stylesheet" href="/assets/css/main.css">

  </head>
  <body>
	<nav class="header-nav">
	  <div class="header-nav-left">
	    <a href="/" id="nav-logo-link">  
	      <span id="nav-logo-text">Mia Resort</span>  
	    </a>
	  </div>
	  <div class="header-nav-right">        
	  </div>
	</nav>
	<section id="home-container">
		<div class="home-buttons-box">
	        <a href="/reserve">
	          <button type="button" class="form-btn" id="home-view-stream-btn"> 
	            Make a Reservation
              </button>
	        </a>
        </div>
        <div class="home-buttons-box">
	        <a href="/view">
	          <button type="button" class="form-btn" id="home-view-stream-btn"> 
	            View Reservation
              </button>
	        </a>
		</div>
        <div class="home-buttons-box">
	        <a href="/reserve">
	          <button type="button" class="form-btn" id="home-view-stream-btn"> 
	            View Rooms
              </button>
	        </a>
		</div>
        <div class="home-buttons-box">
	        <a href="/services">
	          <button type="button" class="form-btn" id="home-view-stream-btn"> 
	            View Services
              </button>
	        </a>
		</div>
        <div class="home-buttons-box">
	        <a href="/view_invoice">
	          <button type="button" class="form-btn" id="home-view-stream-btn"> 
	            View Invoice
              </button>
	        </a>
		</div>						
	</section>

  </body>
  </html>